/* 갤러리 페이지 전용 스타일 */

/* 전체 적용 */
html,
body {
  margin: 0;
  min-height: 100vh;
  background-color: #333333;
}

/* padding, border가 요소의 전체 크기에 포함 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.gallery-container {
  zoom: 0.8;
  max-width: 1200px;
  margin: 70px auto;
  text-align: center;
  padding: 40px 20px;
}

.gallery-title {
  font-size: clamp(32px, 12vw, 64px);
  font-weight: 700;
  color: var(--point-mint);
  text-align: center;
  margin: 0px auto;
}

.header-divider {
  border: 2px solid var(--point-mint);
  margin: 15px 0px;
}

.gallery-box {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery-button {
  text-align: left;
}

.write-button {
  width: 12%;
  min-width: 120px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background-color: var(--point-mint);
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
}

.gallery-box a {
  display: block;
  width: 100%;
}

.gallery-post {
  width: 100%;
  height: 100%;
  border: 3px solid var(--border-color);
  border-radius: 10px;
  color: var(--text-main);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.post-image-box {
  width: 100%;
  height: 150px;
  border-bottom: 3px solid var(--border-color);
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 이미지를 좁은 쪽으로 맞춰서 잘라내고 맞추는 방식 */
  border-radius: 7px 7px 0 0;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 20px;
  color: var(--text-main);
  padding: 15px;
}

.post-title {
  font-size: 16px;
  white-space: nowrap; /* 밑으로 줄바꿈x 무조건 한 줄로 쭉 */
  overflow: hidden; /* 박스 크기를 삐져나간 글자는 말줄임표로 표시 */
  width: 100%;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .gallery-container {
    margin: 70px 10px;
  }
}


